PATH_TO_DB= # location of sqlite db
SERVICE_FEE=0.03 # percentage
RPC_URL= # the rpc url you are utilizing
SNOWSCAN_API_KEY= # the savior
TOKEN_ADDRESS= # contract address of token
TOKEN_DECIMALS=18 
TOKEN_ABI_FILE_PATH=nochillabi.json
MY_WALLET= # pubkey
PRIVATE_KEY= 
BEARER_TOKEN= # Bearer sdfasdff without the Bearer part
DEV_NOTIFICATION_ID=
CHAT_NOTIFICATION_ID=
